* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15vw;
  border-bottom: 1px solid black;
  background-color: red;
}

.nav {
  background-color: blue;
  color: white;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 0 10px;
}
